@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    
}

.order-page{
    margin-top: 110px;
}

.search{
  top:12px;
  left: 290px;
  cursor: pointer;
}


.form-control:focus{
    box-shadow:none;
}

.green{
    
    color:green;
}

select{
    border: 1px solid rgb(222, 222, 222);
    background-color: transparent;
    border-radius: 7px;
    color: grey;
}

.date-select{
    border: 0px solid rgb(222, 222, 222);
    background-color: transparent;
    border-radius: 7px;
    color: rgb(0,72,187);
    border-radius: 0px;
    outline: none;
}